nav{
    display: flex;
    justify-content: space-around;

}

nav,a{
        text-decoration: none;
}

a{
    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 2px 5px gray;
    color: black;
}

a:hover{
    opacity: 0.3;
}